# netbeans specific # 
nbproject/private/ 
build/ 
nbbuild/ 
dist/ 
nbdist/ 
nbproject/
nbactions.xml 
nb-configuration.xml 
nbproject/genfiles\.properties
nbproject/private/private\.properties
nbproject/project\.properties

# Class Files # 
*.class 

# Package Files # 
*.jar 
*.war 
*.ear

build/

nbproject/private/private\.properties

nbproject/private/private\.xml

nbproject/project\.properties

nbproject/build-impl\.xml

nbproject/genfiles\.properties

nbproject/project\.xml
